/* PC */
@media (min-width: 64em) {
  #nav li:hover .subnav {
    height: calc(48.4px * 3);
  }
  .footer-flex {
    width: 210px;
    animation: author linear 10s infinite;
  }
  .footer-content {
    margin-right: 7px !important;
  }
  @keyframes author {
    15% {
      width: 210px;
      opacity: 0;
      transform: translateX(-300px);
    }
    30% {
      opacity: 0;
      width: 0;
      transform: translateX(100px);
    }
    31% {
      width: 0;
      opacity: 1;
    }
    50% {
      width: 210px;
      transform: translateX(15px);
    }
    100% {
      width: 210px;
      transform: translateX(15px);
    }
  }
}

/* pc and table */

@media screen and (min-width: 46.25em) {
  #header {
    background-color: #0d0d1c;
    height: 46.4px !important;
  }
  #nav > li {
    margin-left: -20px;
    height: 46.4px;
  }
  #nav .subnav a {
    padding: 5px 16px;
  }
  #nav > li > a {
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
  }
  #nav > li > a {
    background-color: #000;
    width: 120px;
    text-align: center;
    height: 46.4px;
  }
  #nav li:first-child {
    margin-left: 0 !important;
  }
}
/* Table */
@media (min-width: 46.25em) and (max-width: 63.938em) {
  #footer {
    font-size: 38px;
  }
  #footer .icon a {
    margin: 0 8px;
  }
  /* a.footer-link {
    padding: 12px 0;
  } */
  .contact-form .form-control {
    padding: 13px 8px;
  }
  .contact-form .btn-send {
    padding: 14px 22px;
  }
  .buy-ticket {
    height: 46px;
  }
}

/* table and mobile */
@media (max-width: 63.938em) {
  .contact-info {
    line-height: 2;
  }
}
/* Mobile */
@media (max-width: 31.25em) {
  #nav li .subnav {
    height: calc(47.82px * 3);
  }
  .modal-header {
    padding: 16px 16px;
    height: 80px;
  }
  .buy-ticket {
    width: 100%;
    height: 48px;
  }
  .contact-form .btn-send {
    padding: 14px 28px;
  }
  .footer-flex {
    width: 230px;
    animation: author linear 10s infinite;
  }
  .footer-content {
    margin-right: 5px !important;
  }
  @keyframes author {
    15% {
      width: 230px;
      opacity: 0;
      transform: translateX(-80px);
    }
    30% {
      width: 0;
      opacity: 0;
      /* overflow: hidden; */
      transform: translateX(70px);
      transition: 1s;
    }
    31% {
      opacity: 1;
    }
    50% {
      width: 230px;
      opacity: 1;
      /* overflow: hidden; */
      transform: translateX(15px);
      transition: 1s;
    }
    100% {
      transform: translateX(15px);
    }
  }
}
/*  */
@media (max-width: 46.188em) {
  /* *,
  *:before,
  *:after {
    box-sizing: inherit !important;
  } */
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  #header {
    transition: 0.3s;
    overflow: hidden;
  }
  #nav {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav li .subnav {
    height: calc(48.4px * 3);
  }
  #nav .subnav a {
    color: #fff;
    padding: 4px 40px;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav > li > a {
    padding: 1px 24px;
  }
  #nav > li {
    /* display: block; */
    float: none;
  }
  .slider-content {
    display: none;
  }
  .content .member-image {
    width: 60%;
  }

  #search-btn {
    display: none;
  }
  #search-mobile-btn {
    display: block;
  }
  #image {
    margin-bottom: 16px;
  }
  .contact-info {
    margin-bottom: 32px;
  }
  .buy-ticket {
    width: 100%;
    height: 48px;
  }

  .contact-form .btn-send {
    width: 100%;
  }
  .modal-container {
    max-width: calc(100% - 64px);
  }
  .modal-header {
    padding: 16px 16px;
    /* height: 90px; */
  }
  .contact-form .btn-send {
    padding: 16px 28px;
  }
  .contact-form .form-control {
    padding: 13px;
  }
}
