/* PC */
@media (min-width: 64em) {
}

/* Table */
@media (min-width: 46.25em) {
  #header {
    height: 46.6px !important;
  }
}
@media (min-width: 46.25em) and (max-width: 63.938em) {
  #footer {
    font-size: 38px;
  }
  #footer .icon a {
    margin: 0 8px;
  }
  a.footer-link {
    padding: 8px 0;
  }
  .contact-form .form-control {
    padding: 13px 8px;
  }
  .contact-form .btn-send {
    padding: 16px 22px;
  }
  .buy-ticket {
    height: 46px;
  }
}

/* Mobile */
@media (max-height: 31.25em) {
  .modal-header {
    padding: 16px 16px;
    height: 80px;
  }
  .buy-ticket {
    width: 100%;
    height: 48px;
  }
  .contact-form .btn-send {
    padding: 16px 28px;
  }
}
@media (max-width: 46.188em) {
  /* *,
  *:before,
  *:after {
    box-sizing: inherit !important;
  } */
  .s-full-width,
  .s-col-full {
    width: 100% !important;
  }
  #header {
    transition: 0.3s;
    overflow: hidden;
  }
  #nav {
    display: block;
  }
  #nav .subnav {
    position: initial;
    background-color: #333;
  }
  #nav li:hover .subnav {
    height: calc(48.4px * 3);
  }
  #nav .subnav a {
    color: #fff;
    padding: 4px 40px;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  #nav > li > a {
    padding: 1px 24px;
  }
  #nav > li {
    /* display: block; */
    float: none;
  }
  .slider-content {
    display: none;
  }
  .content .member-image {
    width: 60%;
  }

  #search-btn {
    display: none;
  }
  #search-mobile-btn {
    display: block;
  }
  #image {
    margin-bottom: 16px;
  }
  .contact-info {
    margin-bottom: 16px;
  }
  .buy-ticket {
    width: 100%;
    height: 48px;
  }

  .contact-form .btn-send {
    width: 100%;
  }
  .modal-container {
    max-width: calc(100% - 64px);
  }
  .modal-header {
    padding: 16px 16px;
    /* height: 90px; */
  }
  .contact-form .btn-send {
    padding: 16px 28px;
  }
  .contact-form .form-control {
    padding: 13px;
  }
}
